.featured-park-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
    width: 85%;
    max-width: 1400px;
    margin: 3rem auto;
}

.image-park {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%;
    transition: var(--transition);
}

.image-park:hover {
    transform: scale(1.05);
}